In [54]:
import pandas as pd

In [34]:
df_train = pd.read_csv('train_5CLrC8b/train.csv')
df_test = pd.read_csv('test.csv')

In [35]:
df_train['source_'] = 1
df_test['source_'] =0
df = pd.concat([df_train,df_test])
df.reset_index(inplace=True)
df.drop(['index'],inplace=True,axis=1)
df.head()

/home/prashant/miniconda2/envs/p3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,amount_spent_per_room_night_scaled,booking_date,booking_type_code,channel_code,checkin_date,checkout_date,cluster_code,main_product_code,member_age_buckets,memberid,...,resort_id,resort_region_code,resort_type_code,room_type_booked_code,roomnights,season_holidayed_code,source_,state_code_residence,state_code_resort,total_pax
0,7.706428,05/04/18,1,3,05/04/18,06/04/18,F,1,F,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,...,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,3,3,3,1,2.0,1,7.0,3,3
1,6.662563,23/01/15,1,1,11/04/15,16/04/15,F,1,F,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,...,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,3,3,4,5,2.0,1,7.0,5,2
2,7.871602,28/01/15,1,1,01/02/15,05/02/15,E,1,F,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,...,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,1,5,4,4,2.0,1,7.0,1,2
3,5.344943,02/05/15,1,1,11/06/15,16/06/15,D,1,F,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,...,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2,2,3,5,2.0,1,7.0,2,2
4,7.059346,02/09/15,1,1,14/12/15,19/12/15,D,1,F,3d1539e56495b6991f0a3ef5a61ca3d03ce4fff7380e9a...,...,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2,2,4,5,2.0,1,7.0,2,2

In [36]:
#x = pd.to_datetime(df['checkout_date']) - pd.to_datetime(df['checkin_date'])

In [37]:
#df['num_days'] = x.dt.days

In [38]:
df.drop(['checkout_date','checkin_date','booking_date','memberid','reservation_id',
        'reservationstatusid_code' ,'season_holidayed_code','state_code_residence'],inplace=True,axis=1)

In [39]:
df.head()

,amount_spent_per_room_night_scaled,booking_type_code,channel_code,cluster_code,main_product_code,member_age_buckets,numberofadults,numberofchildren,persontravellingid,resort_id,resort_region_code,resort_type_code,room_type_booked_code,roomnights,source_,state_code_resort,total_pax
0,7.706428,1,3,F,1,F,2,0,46,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,3,3,3,1,1,3,3
1,6.662563,1,1,F,1,F,2,0,46,39fa9ec190eee7b6f4dff1100d6343e10918d044c75eac...,3,3,4,5,1,5,2
2,7.871602,1,1,E,1,F,2,0,47,535fa30d7e25dd8a49f1536779734ec8286108d115da50...,1,5,4,4,1,1,2
3,5.344943,1,1,D,1,F,2,2,46,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2,2,3,5,1,2,2
4,7.059346,1,1,D,1,F,2,0,46,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2,2,4,5,1,2,2

In [40]:
l = ['booking_type_code',
       'channel_code', 'cluster_code', 'main_product_code',
       'member_age_buckets', 'numberofadults', 'numberofchildren','resort_id',
       'resort_region_code', 'resort_type_code', 'room_type_booked_code',
       'roomnights', 'persontravellingid',
        'state_code_resort']
df = pd.get_dummies(df,columns=l)

In [41]:
df.head()

,amount_spent_per_room_night_scaled,source_,total_pax,booking_type_code_1,booking_type_code_2,channel_code_1,channel_code_2,channel_code_3,cluster_code_A,cluster_code_B,...,state_code_resort_2,state_code_resort_3,state_code_resort_4,state_code_resort_5,state_code_resort_6,state_code_resort_7,state_code_resort_9,state_code_resort_10,state_code_resort_11,state_code_resort_13
0,7.706428,1,3,1,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
1,6.662563,1,2,1,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,7.871602,1,2,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5.344943,1,2,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,7.059346,1,2,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [42]:
preprocessed_main_test = df.loc[df['source_'] == 0]
preprocessed_main_train = df.loc[df['source_'] == 1]

In [43]:
preprocessed_main_test.drop(['source_','amount_spent_per_room_night_scaled'],axis =1,inplace=True)

/home/prashant/miniconda2/envs/p3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [44]:
y_train = (preprocessed_main_train['amount_spent_per_room_night_scaled'])
x_train = preprocessed_main_train.drop(['amount_spent_per_room_night_scaled','source_'],axis =1)

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB,GaussianNB
from sklearn.linear_model import LogisticRegression
X_train, X_test, y_train_internal, y_test_internal = train_test_split(x_train,y_train ,test_size =.2)

In [46]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=20, random_state=0,n_estimators=100)
regr.fit(X_train,y_train_internal)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=20,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [47]:
from sklearn.metrics import mean_squared_error
from math import sqrt
pred_orig_test = regr.predict(X_test)
rms = sqrt(mean_squared_error(y_test_internal, pred_orig_test))
rms

1.030953020746442

In [51]:
pred = regr.predict(preprocessed_main_test)
final_res = list(zip(df_test['reservation_id'],pred))

In [52]:
res_ = pd.DataFrame(final_res,columns=['reservation_id','amount_spent_per_room_night_scaled'])

In [53]:
res_.to_csv('sub_1_baseline_rf.csv',index=False)